{% extends 'core/base.html' %}
{% load thumbnail %}

{% block content %}
<div class="profile_content">
	<h1>Profile</h1>
	<h2>{{ user.username|title }}</h2>
	{% thumbnail user.profile.avatar "150x150" crop="center" as im %}
    	<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
	{% endthumbnail %}
	<h3>Name: <i>{{ user.first_name }} {{ user.last_name }}</i></h3>
	{% if user.email %}
		<h3>Email: <i>{{ user.email }}</i></h3>
	{% endif %}
	<h3>Biography:</h3>
	<p>{{ user.profile.biography }}</p>
</div>
<div class="profile_questions">
	<h1>My questions</h1>
	{% if questions %}
		<ul>
		{% for question in questions %}
			<li>
				<div class="my_question_item">
					<h4><a href="{% url 'questions:detail' question.pk %}">{{ question.title|title }}</a></h4>
				</div>
			</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>You have not asked question yet</p>
	{% endif %}
</div>
{% endblock %}